

.main {
    height: auto;
    display: flex;
    flex-direction: column;
    position: relative;
  
   }

.banner {
    display: flex;
    justify-content: center;
    width: 100%;
}

.img_desktop {
    display: flex;
    position: relative;
    border-radius: 20px;
    width: 90%;
    height: 223px;
    object-fit: cover;
    

}

.img_mobile {
    display: none;
}


/* Version mobile */

@media screen and (max-width:768px){
    
    .img_desktop {
        display: none;
    }

    .img_mobile {
        display: flex;
        position: relative;
        border-radius: 20px;
        width: 90%;
        height: 223px;
        object-fit: cover;
        justify-content: center;
    }

}