.carrousel {
    margin: 0 auto;
    overflow: hidden;
    max-width: 900px;
}

.container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carrousel-item {
    display: inline-block;
    width: 100%;
}

.carrousel-inner {
    white-space: nowrap;
}

