.carrousel {
    display: flex;
    margin: auto;
    overflow: hidden;
    width: 90%;
    height: 500px;
    position: relative;
    flex-direction: column;
    border-radius: 25px;
}


.carrousel-item {
    display: inline-block;
    width: 100%;
    height: 500px; 
}

.carrousel-item img {
   width: 100%;
   height: 500px;
   vertical-align: top;
   object-fit: cover;
}

.carrousel-inner {
    white-space: nowrap;
    transition: ease 1s;
}

.carrousel-control {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 215px;
    cursor: pointer;
}

.carrousel-control img {
    height: 80px;
    width: 80px;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

.carrousel-number {
    position: absolute;
    bottom: 20px;
    left: 50%;
    color: white;
}

 /* Version mobile */

 @media screen and (max-width: 768px) {

  .carrousel {
    height: 300px;
  }

  .carrousel-control {
    top: 125px;
  }

  .carrousel-inner img {
    height: 300px;
    
  }

}