.footer {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 90%;
    padding: 20px 0 20px 0;
    margin: auto;
    background-color: black;
}

.footer-logo {
    height: 70px;
    width: auto;
    margin: auto;
    padding: 20px;
}

.footer-text {
    color: white;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    padding: 10px;
}

/* Version mobile */

@media screen and (max-width: 425px) {
    .footer-logo {
      height: 45px;
      padding: 10px;
    }
  
    .footer-text {
      font-size: 10px;
      padding: 15px;
    }
  }
  