.main-tag {
    display: flex;
    flex-direction: row;
}

.tag {
    background-color: #ff6060;
    display: flex;
    border-radius: 10px;
    min-width: 80px;
    justify-content: center;
    padding: 2px 20px 2px 20px;
    font-size: 14px;
    color: white;
    margin: 10px 10px 10px 0;
}
